@import '../../variables';

.teams-list {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 1em;
  // border: 1px solid blue;
  height: 100%;
  // height: calc(100% - 10px);

  .team {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 0.5em;
    height: 4em;

    padding: 0.5em;
    border: 1px solid $tertiary-color;
    box-shadow: 3px 3px $light-background-color;

    p {
      color: $primary-color;
    }

    &:hover {
      cursor: pointer;
      background-color: $light-background-color;
    }

  }
}