$global-font-size: 15px;
$global-line-height: 1.4em;
$font-stack: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace,
      serif;
$mono-font-stack: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace,
      serif;
$background-color: #222225;
$light-background-color: #313136;
$font-color: #e8e9ed;
$invert-font-color: #222225;
$secondary-color: #a3abba;
$tertiary-color: #a3abba;
$primary-color: #62c4ff;
$error-color: #ff3c74;